* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.select-form {
    position: relative;
    width: 100%;
    max-width: 100%;
}

/* selectedItems styles*/
.selected-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-color: #ccc;
    background: transparent;
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: border-color .3s ease;
}

.selected-items:hover {
    border-color: blueviolet;
}

.selected-items__body {
    flex: 1 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.selected-items__dashboard {
    flex: 0 1 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* => Item */
.selected-item {
    border: 1px solid;
    border-color: #ccc;
    padding: 5px;   
    margin-left: 10px;
}

.selected-item:first-child {
    margin: 0;
}

.selected-item__body {
display: flex;
justify-content: space-between;
align-items: center;
}

.selected-item__title {
border-right: 1px solid #ccc;
padding-right: 2px;
}


.rm {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    margin-left: 2px;
    border-radius: 3px;
}

.rm:hover {
    background-color: #ccc;
}

.rm::before {
    position: absolute;
    top: 50%;
    left: 22%;
    content: '';
    width: 10px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
}
.rm::after {
    position: absolute;
    top: 50%;
    right: 22%;
    content: '';
    width: 10px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
}
.op {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin-left: 2px;
    border-radius: 3px;
}

.op::before {
    position: absolute;
    top: 50%;
    right: 3px;
    content: '';
    width: 10px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
}
.op::after {
    position: absolute;
    left: 3px;
    top: 50%;
    content: '';
    width: 10px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
}
/* index */

/* end------------ */



/* Itemlist */

.skills-items {
    position: absolute;
    width: 100%;
    max-width: 100%;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}


.skills-item {
    background-color: white;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.skills-item:hover {
    background-color: #efd9ff;
}

.skills-item:last-child {
    border: none;
}