@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 400px;
  margin: 5% auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 50px 25px 75px 25px;
}

h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.navigate {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.navigate button {
  width: 100px;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:active {
  box-shadow: inset 1px 1px 11px 2px #000000;
}

.navigate__prev {
  background-color: #ccc;
  font-size: 16px;
}

.navigate__next {
  background-color: blueviolet;
  color: white;
  font-weight: 500;
  font-size: 16px;
}
